.header-container {
    height: var(--height);
    background-color: var(--dark-brown);
    position: fixed;
    opacity: 0.6;
    backdrop-filter: blur(5px);
    color: var(--soft-grey);
    mix-blend-mode: normal;
    top: 0;
    z-index: 999;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 40px;
}

.header-container .header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 16px;
}